school.yml
app:
  description: ''
  icon: stuck_out_tongue_winking_eye
  icon_background: '#FFEAD5'
  mode: workflow
  name: school
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.9@d0bed72582f8945dba4bf0fb23e03a449e7319f7cb0056ce02bfc76ca3f08215
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1744445889357-source-1744445988780-target
      source: '1744445889357'
      sourceHandle: source
      target: '1744445988780'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1744445655741-source-1744445889357-target
      source: '1744445655741'
      sourceHandle: source
      target: '1744445889357'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1744428900514-source-1744445655741-target
      source: '1744428900514'
      sourceHandle: source
      target: '1744445655741'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: input
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: input
      height: 90
      id: '1744428900514'
      position:
        x: 30
        y: 246
      positionAbsolute:
        x: 30
        y: 246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 7CrekWBOyMJ6dfKZG096rqNTfr4jscwAL54GEWfTozM9K7q3ZwhGOYYQk2dlC1H4
        desc: ''
        metadata_filtering_mode: automatic
        metadata_model_config:
          completion_params:
            max_tokens: 8192
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-V3
          provider: langgenius/siliconflow/siliconflow
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_variable_selector:
        - '1744428900514'
        - input
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 92
      id: '1744445655741'
      position:
        x: 334
        y: 246
      positionAbsolute:
        x: 334
        y: 246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1744445655741'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 10a09d12-9906-4c9e-9007-95e3d39c0312
          role: system
          text: '知识库：{{#context#}}

            你是ai助手，你要结合知识库回答用户提出的问题，并且知识库中是没有任何链接。如果存在，就将其忽略。如果用户的提问中询问了知识库中不存在的内容，那么就不要参考知识库。并且不能使用任何表情。{{#1744428900514.input#}}'
        selected: false
        title: LLM qy chat
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1744445889357'
      position:
        x: 638
        y: 246
      positionAbsolute:
        x: 638
        y: 246
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1744445889357'
          - text
          variable: text
        selected: false
        title: 结束 q chat
        type: end
      height: 90
      id: '1744445988780'
      position:
        x: 942
        y: 246
      positionAbsolute:
        x: 942
        y: 246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 337.2
      y: 186.3
      zoom: 0.7
